*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 112, 112, 1);
  color: #171219;
  margin: 0;
}

header {
  background-color: #67aa95;
  Text-align: Left;
  font-size: 2.2em;
  font-family: 'Montserrat',cursive;
}

header h1 {
    margin:0;
}
nav {
  background-color: #1d4e89;
  margin: 0;
  padding: 0;
  overflow:auto;
}

nav ul {
    list-style: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
}

nav a{
  display: inline-block;
  padding: 0.5em;
  color:#0f0c09;
  text-decoration: none;
  font-family: monospace;
  border-right:: 1px solid #0f0c09;
}

nav a:hover {
  background-color: #008293;

}

main {
  min height: 300px;
}

Main section img {
  width: 200px;
  float: left;
  margin: 0 0.5em 0.5em 0;
}

main section p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

main aside h3, main section h2 {
  font-size: 2em;
}
footer {
  border-top: 1px solid #0f0c09;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}

footer a{
  color: #0f0c09;
}

footer a:hover {
  color: #008293;
}

main {
  min-height: 300px;
  background-color: #b9dce1;
}

main aside {
  width: 20%;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  }

main section {
  width: 79%;
  border-left: 1px solid #f7e9e1;
  display: inline-block;
  padding: 1em;
}
